@media screen and (max-width:768px){
    .infos .col {
        font-size: .7rem;
    }

    
}
.pagination{
    flex-wrap: wrap;
    font-size: .7rem;
    justify-content: center;
}

.infos .col .th {
    
}